#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.deal-page {
  font-size: 0.9em;
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: start;
  line-height: 1.1em;
}

.denied-section {
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Make the container full height of the viewport */
}

.denied-message {
  font-size: 0.8em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the text inside the .denied-message div */
  text-align: center; /* Optional: Center the text if it's multiline */
}

.deal-name {
  font-size: 2em;
  margin: 20px 0px;
}

.deal-header {
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

.denied-message span {
  font-size: 0.5em;
  color: red;
}

.back-btn {
  width: 30px;
  color: white;
}

.separator {
  width: 95%;
  height: 1px;
  background: #343436;
  margin: 0px auto;
}

.deal-info {
  margin-top: 20px;
}

.deal-info span {
  color: #808080;
  font-weight: bold;
}

.deal-info p {
  padding: 2px;
}

.deal-info div {
  padding: 2px;
}

.info-bg {
  background: #D9D9D910;
  border-radius: 10px;
}

.scrollable-container {
  margin-top: 10px;
  background: #D9D9D910;
  border-radius: 10px;
  height: 80px; /* Adjust height as needed */
  overflow-y: auto; /* Adds vertical scrollbar */
  padding: 10px !important; /* Optional: adds padding inside the container */
}

.actions-desc {
  line-height: 1em;
  width: 80%;
}

.btn-actions {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  width: 100%;
}
.btn-actions button {
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background: #D9D9D910;
}

.logo {
  height: 6em;
  margin-bottom: 10px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
